{% extends "base.html" %}
{% block title %}{{ action }} сотрудника{% endblock %}
{% block content %}
<p><a href="{% url 'employees:employee_list' %}">Назад</a></p>
<h2>{{ action }} сотрудника</h2>
<form method="post" enctype="multipart/form-data" novalidate>
{% csrf_token %}
{% for field in form %}
<p>{{ field.label }}{% if field.field.required %} *{% endif %}</p>
<p>{{ field }}</p>
{% if field.errors %}<p>{{ field.errors }}</p>{% endif %}
{% endfor %}
<p><button type="submit">{{ action }}</button> <a href="{% url 'employees:employee_list' %}">Отмена</a></p>
</form>
{% endblock %}
