{% extends "base.html" %}
{% block title %}{{ action }} заказ{% endblock %}
{% block content %}
<h1>{{ action }} заказ</h1>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <p>
    <label>{{ field.label }}{% if field.field.required %} *{% endif %}</label><br>
    {{ field }}
    {% for e in field.errors %}<br><strong>{{ e }}</strong>{% endfor %}
  </p>
  {% endfor %}

  {% if formset %}
  <h2>Изделия в заказе</h2>
  {{ formset.management_form }}
  {% for item_form in formset %}
  <fieldset>
    <legend>Позиция {{ forloop.counter }}</legend>
    {% for field in item_form %}
    {% if field.name != 'id' and field.name != 'DELETE' %}
    <p>
      <label>{{ field.label }}</label><br>
      {{ field }}
      {% for e in field.errors %}<br><strong>{{ e }}</strong>{% endfor %}
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  {% endfor %}
  {% endif %}

  <p><button type="submit">{{ action }}</button> <a href="{% url 'orders:order_list' %}">Отмена</a></p>
</form>
{% endblock %}
